body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100vw;
  max-width:100vw;
}
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.hero{
  background-image: url(./images/desktop//image-hero.jpg);
}
.title{
  color:#ffff;
  font-weight: 400;
  font-family: 'Alata', sans-serif;
  font-size: 24px;
  z-index: 100;
  margin-left: 10px;
}
Heading{
  font-family: 'Alata', sans-serif;
  letter-spacing:2px;
}
a{
  text-decoration: none;
  cursor: pointer;
}

RightMenu{
  font-family: 'Alata', sans-serif;
  
}

ButtonRight{
  font-family: 'Alata', sans-serif;
}
.btn{
  font-family: 'Alata', sans-serif;
}
Footer{
  font-family: 'Alata', sans-serif;
}
.box_p{
  font-family: 'Alata', sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  padding: 6px 0;
}
ul li a {
  position: relative;
  transition: 0.5s;
}

ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #fff;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: center;
  }
  ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
  }

  ul li a:hover{
      color:#ffff;
  }
